<section class="registerback">
  <div class="loginpage">
    <h1>
      Add Todo!
    </h1>
    <form class="loginregister" action="/addtodo" method="POST">
      <span>Title</span><br/>
      <input type="text" name="title" value="" id="name"><br/>
      <span>Todo text</span><br/>
      <input type="text" name="todo" value="" id="lastname"><br/>
      <span>Start Date</span><br/>
      <input type="date" name="startDate" value="" id="email"><br/>
      <span>End Date</span><br/>
      <input type="date" name="endDate" value="" id="password"><br/>
      <span>Priority</span><br/>
      <select name="priority" id="mySelect">
        <option value="Yes" name="yes">Yes</option>
        <option value="No" name="no">No</option>
      </select><br/><br/>
      <input class="submit" type="submit" name="submit" value="Create account!">
    </form>
  </div>
</section>
