<h1>{{title}}</h1>
<div class="showouter">
  <div class="showinner">
    <h2>Join to create todo lists!</h2>
    <p>Do you want to be one of the cool kids? Join up today, so you have a chance to become one with our stuff to organize.</p>
    <h4>What is this?</h4>
    <p>This website is created to give you the chance to keep todo lists of all the different things that you need to take care of!</p>
  </div>
</div>
