<section class="registerback">
  <div class="loginpage">
    <h1>
      Login!
    </h1>
    <form class="loginregister" action="/login" method="POST">
      <span>Email</span><br/>
      <input type="email" name="email" value="" id="email"><br/>
      <span>Password</span><br/>
      <input type="password" name="password" value="" id="password">
      <input class="submit" type="submit" name="submit" value="Login">
    </form>
  </div>
</section>
