<section class="registerback">
  <div class="loginpage">
    <h1>
      Register!
    </h1>
    <form class="loginregister" action="/register" method="POST">
      <span>Firstname</span><br/>
      <input type="text" name="firstName" value="" id="name"><br/>
      <span>Surname</span><br/>
      <input type="text" name="lastName" value="" id="lastname"><br/>
      <span>Email</span><br/>
      <input type="email" name="email" value="" id="email"><br/>
      <span>Password</span><br/>
      <input type="password" name="password" value="" id="password">
      <input class="submit" type="submit" name="submit" value="Create account!">
    </form>
  </div>
</section>
